# set as appropriate - defaults to staging if none set
#SetEnv APP_MODE "production"
SetEnv APP_MODE "staging"

RewriteEngine on
RewriteRule !\.(js|ico|gif|jpg|png|css)$ index.php

php_value upload_max_filesize 3M
