RewriteEngine On

# The condition ensures that if you are using Apache aliases to do
# mass virtual hosting or installed the project in a subdirectory,
# the base path will be prepended to allow proper resolution of
# the index.php file; it will work in non-aliased environments
# as well, providing a safe, one-size fits all solution.
RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
RewriteRule ^(.*) - [E=BASE:%1]

# Redirect all HTTP requests to HTTPS.
RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*) https://%{SERVER_NAME}%{ENV:BASE}/$1 [R,L]

# The following rule tells Apache that if the requested filename
# exists, simply serve it.
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [L]

# The following rewrites all other queries to index.php.
RewriteRule ^(.*)$ %{ENV:BASE}/index.php [L]

php_value upload_max_filesize 3M

Header always set Content-Security-Policy "default-src 'self'; "
Header always edit Content-Security-Policy "$" "img-src 'self' data: https://www.google-analytics.com; "
Header always edit Content-Security-Policy "$" "script-src 'self' https://www.google-analytics.com https://cdnjs.cloudflare.com; "

# List of features can be found at https://github.com/w3c/webappsec-feature-policy/blob/master/features.md.
Header always set Feature-Policy "accelerometer 'none'; autoplay 'none'; ambient-light-sensor 'none'; camera 'none'; "
Header always edit Feature-Policy "$" "fullscreen 'none'; gyroscope 'none'; magnetometer 'none'; microphone 'none'; "
Header always edit Feature-Policy "$" "midi 'none'; payment 'none'; picture-in-picture 'none'; "
Header always edit Feature-Policy "$" "sync-xhr 'none'; usb 'none'; "

Header always set Referrer-Policy "same-origin"
Header always set X-Content-Type-Options "nosniff"
Header always set X-Frame-Options "DENY"
